#personal-component
  flex-direction: column
  .content-wrapper
    flex-direction: column
    padding: 20% 0px
    .input-wrapper
      display: flex
      flex-direction: column
      width: 100%
      justify-content: center
      align-items: center
      flex: 1
      .input-content
        display: flex
      &.social-input
        .input-content
          flex-direction: column
      &.age-input
        flex: 0.5
