#personal-component.personal-component-wrapper.sidebar-scroll-section
  flex-direction: column
  .content-wrapper
    // transition margin 1s ease-in-out
    // overflow unset
    // max-width: calc(100vw - 10px)
    // flex-direction: row
    // display: none
    // justify-content: flex-start
    .input-wrapper
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      flex: 1
      transition: all 1s
      // &:not([visible])
      //   min-width: 0px
      //   max-width: 0px
      .input-content
        display: flex
      &.social-input
        .input-content
          flex-direction: column
      &.age-input
        flex: 0.5
