#personal-component.personal-component-wrapper.sidebar-scroll-section
  flex-direction: column
  .content-wrapper
    // transition margin 1s ease-in-out
    // overflow unset
    // max-width: calc(100vw - 10px)
    // flex-direction: row
    // display: none
    // justify-content: flex-start
    .input-wrapper
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      flex: 1
      transition: all 1s
      font-size: 0.85em
      // &:not([visible])
      //   min-width: 0px
      //   max-width: 0px
      .input-content-wrapper
        display: flex
        width: 350px
        justify-content: center //space-evenly
        align-items: center
        padding: 0px
        .input-title
          font-weight: 600
          max-width: 100px
          text-align: end
        .input-content
          display: flex
          min-width: 100px
          margin-left: 20px
          input[type=number]
            height: 10px
            font-size: 0.9em
          &.type-radio
            flex-direction: column
            .opt
              display: flex
              padding-left: 20%
      // &.social-input
      //   .input-content
      //     flex-direction: column
      &.age-input
        flex: 0.5
