<div id="personal-component" :visible="visible" class="personal-component-wrapper sidebar-scroll-section" v-bind:style="{ maxHeight: offsetH+'px', minHeight: offsetH+'px' }">
  <div class="content-wrapper">
      <div class="input-wrapper age-input">
        <div class="input-content-wrapper">
          <div class="input-title">Edat</div>
          <div class="input-content">
            <input type="number" name="age" placeholder="introdueïx la teva edat" v-model:value="age"/>
          </div>
        </div>
        <subsection-controller
          v-bind:visible="visible"
          v-bind:offsetW="offsetW"
          v-bind:container="h_container"
          v-bind:section="'0'"
          v-bind:current_section="section"
          v-bind:current_subsection="subsection"
          v-bind:boundaries="[0,2]"
          v-bind:ready="age != null"
        ></subsection-controller>
      </div>
      <div class="input-wrapper gender-input">
        <div class="input-content-wrapper">
          <div class="input-title">Gènere</div>
          <div class="input-content type-radio">
            <div class="opt">
              <input type="radio" name="gender" value="female" v-on:click="onGenderChange( $event )" v-bind:checked="gender === 'female'"/>
              <label>Dona</label>
            </div>
            <div class="opt">
              <input type="radio" name="gender" value="male" v-on:click="onGenderChange( $event )" v-bind:checked="gender === 'male'"/>
              <label>Home</label>
            </div>
            <div class="opt">
              <input type="radio" name="gender" value="other" v-on:click="onGenderChange( $event )" v-bind:checked="gender === 'other'"/>
              <label>Altres</label>
            </div>
          </div>
        </div>
        <subsection-controller
          v-bind:visible="visible"
          v-bind:offsetW="offsetW"
          v-bind:container="h_container"
          v-bind:section="'1'"
          v-bind:current_section="section"
          v-bind:current_subsection="subsection"
          v-bind:boundaries="[0,2]"
          v-bind:ready="gender != null"
        ></subsection-controller>
      </div>
      <div class="input-wrapper social-input">
        <div class="input-content-wrapper">
          <div class="input-title">Situació laboral</div>
          <div class="input-content type-radio">
            <div class="opt">
              <input type="radio" name="social_status" value="employee" v-bind:checked="social_status === 'employee'" v-on:click="onSocialChange( $event )"/>
              <label>Treballant</label>
            </div>
            <div class="opt">
              <input type="radio" name="social_status" value="student" v-bind:checked="social_status === 'student'" v-on:click="onSocialChange( $event )"/>
              <label>Estudiant</label>
            </div>
            <div class="opt">
              <input type="radio" name="social_status" value="unemployed" v-bind:checked="social_status === 'unemployed'" v-on:click="onSocialChange( $event )"/>
              <label>Aturat</label>
            </div>
            <div class="opt">
              <input type="radio" name="social_status" value="retired" v-bind:checked="social_status === 'retired'" v-on:click="onSocialChange( $event )"/>
              <label>Jubilat</label>
            </div>
            <div class="opt">
              <input type="radio" name="social_status" value="other" v-bind:checked="social_status === 'other'" v-on:click="onSocialChange( $event )"/>
              <label>Altres</label>
            </div>
          </div>
        </div>
        <subsection-controller
          v-bind:visible="visible"
          v-bind:offsetW="offsetW"
          v-bind:container="h_container"
          v-bind:section="'2'"
          v-bind:current_section="section"
          v-bind:current_subsection="subsection"
          v-bind:boundaries="[0,2]"
          v-bind:ready="social_status != null"
        ></subsection-controller>
      </div>
  </div>
</div>