.map-section-wrapper
  flex 1
  display flex
  flex-direction column
  .map-section-title
    // flex 1
    display flex
    flex-direction column
    background-color: #fdc
    height: 50px
    justify-content: center
    .map-section-title__subtitle
      color #444
      display flex
      justify-content center
      align-items: center
      p 
        margin 0px
    .map-section-title__title
      margin 0px
      font-size 0.95em
      text-align: center
  .map-section-content-wrapper
    flex 1
    display flex