<div id="draw-control" class="draw-control-wrapper" :class="{ hidden: hidden, active: Boolean(currentTools) }">
  <div class="draw-control-content">
    <div 
      v-for="option in options"
      :id="option.name"
      :active="option.active"
      :controller="option.controller"
      v-on:click="onOptionClicked( $event, option )"
      class="option-button"
      :disabled="!currentTools || currentTools && currentTools.indexOf(option.name) == -1 && (option.name != 'eraser' && option.name != 'drag')">
      <div class="option-button__wrapper">
        <div class="option-button__background-wrapper"></div>
      </div>
    </div> 
  </div>
  <div class="draw-control-toggler" v-on:click="toggleVisibility"><div></div></div>
</div>