body
  margin 0px
  padding 0px
  height 100vh
  width 100vw
  display flex
  font-family: "Comic Sans MS", cursive, sans-serif
  box-sizing: border-box

#app
  flex 1
  display flex
  font-size: 0.9em
  .router-component-container
    display: flex
    flex 1
    .router-component-wrapper
      display: flex
      flex 1

.leaflet-popup-content
  font-size: 0.9em
  margin: 7px 20px