body
  margin 0px
  padding 0px
  height 100vh
  width 100vw
  display flex

#app
  flex 1
  display flex

  .router-component-container
    display: flex
    flex 1
    .router-component-wrapper
      display: flex
      flex 1