#barriers-component.barriers-component-wrapper
  max-width: 200px
  .content-wrapper
    flex-direction: column
    .message-wrapper
      display: flex
      justify-content: center
      align-items: center
      box-sizing: border-box
      padding: 10px 10px
      text-align: center
      color: #222
      font-size: 1.1em
      font-weight: 800
      font-size: 0.75em
    .mode-options-wrapper
      display: flex
      flex-direction: row
      flex-wrap: wrap
      .mode-btn
        flex 1
        height 20px
        // border-radius: 25px
        text-align: center
        line-height: 20px
        color: #ffffff
        // margin: 5px 0px
        font-size: 0.85em
        padding: 0px 10px
        cursor pointer
        min-width: calc(50% - 20px)
        width: calc(50% - 20px)
        max-width: calc(50% - 20px)
        font-weight: 600
        &[disabled]
          pointer-events: none
          opacity 0.5
        &.architecture-mode
          background-color: #ff004d
          // &:hover
          //   background-color: lighten(#ff004d, 20%)
        &.acoustic-mode
          background-color: #3c9ac7
          // &:hover
          //   background-color: lighten(#3c9ac7, 20%)
        &.luminic-mode
          background-color: #ffd41b
          // &:hover
          //   background-color: lighten(#fff860, 20%)
        &.social-mode
          background-color: #55ab71
          // &:hover
          //   background-color: lighten(#55ab71, 20%)
        &.save-mode
          background-color: #555555
          min-width: 100%
          width: 100%
          max-width: 100%
          padding: 0px
          // &:hover
          //   background-color: lighten(#555555, 20%)