#map-view
  display: flex
  // flex: 3
  position relative
  transition flex 2s
  .map-view-wrapper
    display: flex
    flex: 1
    
#map
  flex: 1

  .popup-form-wrapper
    display: flex
    flex-direction: column
    padding: 5px
    .form-input-wrapper
      display: flex
      justify-content: space-between
      padding: 3px
      font-size: 0.8em
      label 
        text-align: end
        font-weight: 600
        flex: 1
      input
        margin-left: 10px
        height: 10px