<div id="sidebar-scroll" class="sidebar-scroll-wrapper">
  <div class="sidebar-scroll-layer">
    <div class="scroll-gradient top-gradient"></div>
    <div class="scroll-gradient bottom-gradient"></div>
    <scroll-controller
      :next="router.next"
      :previous="router.previous"
    ></scroll-controller>
    <cover-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      :visible="router.current.name == 'cover'"
    ></cover-component>
    <home-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      v-on:add-map-data="addMapData"
      :visible="router.current.name == 'home'"
    ></home-component>
    <personal-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      :subsection="subsection"
      :visible="router.current.name == 'personal'"
    ></personal-component>
    <work-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      :subsection="subsection"
      :visible="router.current.name == 'work'"
      v-on:add-map-data="addMapData"
    ></work-component>
    <end-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      :visible="router.current.name == 'end'"
      v-on:generate-data="onGenerateData( $event )"
    ></end-component>
  </div>
</div>