<div id="sidebar-scroll" class="sidebar-scroll-wrapper">
  <div class="sidebar-scroll-layer">
    <div class="scroll-gradient top-gradient"></div>
    <div class="scroll-gradient bottom-gradient"></div>
    <scroll-controller
      :next="router.next"
      :previous="router.previous"
    ></scroll-controller>
    <cover-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      :visible="router.current.name == 'cover'"
      :active="router.current.name == 'cover'"
    ></cover-component>
    <home-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      v-on:add-map-data="addMapData"
      :visible="router.current.name == 'home'"
      :active="router.current.name == 'home'"
    ></home-component>
    <personal-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      :subsection="subsection"
      :section="section"
      :visible="router.current.name == 'personal'"
      :active="router.current.name == 'personal'"
    ></personal-component>
    <work-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      :visible="router.current.name == 'work'"
      :active="router.current.name == 'work'"
      v-on:add-map-data="addMapData"
      v-on:open-popup="onOpenPopup"
      v-on:close-popup="onClosePopup"
    ></work-component>
    <identity-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      :subsection="subsection"
      :section="section"
      :visible="router.current.name == 'identity'"
      :active="router.current.name == 'identity'"
    ></identity-component>
    <barriers-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      :visible="router.current.name == 'barriers'"
      :active="router.current.name == 'barriers'"
      :subsection="subsection"
      :section="section"
      v-on:clear-map-layers="clearMapLayers"
      v-on:store-map-layer="storeMapLayer"
    ></barriers-component>
    <paths-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      :visible="router.current.name == 'paths'"
      :active="router.current.name == 'paths'"
      :subsection="subsection"
      :section="section"
      v-on:clear-map-layers="clearMapLayers"
      v-on:store-map-layer="storeMapLayer"
    ></paths-component>
    <social-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      v-on:add-map-data="addMapData"
      :visible="router.current.name == 'social'"
      :active="router.current.name == 'social'"
      v-on:reset-map-selection="onResetMapSelection"
    ></social-component>
    <equipments-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      v-on:add-map-data="addMapData"
      :visible="router.current.name == 'equipments'"
      :active="router.current.name == 'equipments'"
      v-on:reset-map-selection="onResetMapSelection"
      v-on:open-popup="onOpenPopup"
      v-on:close-popup="onClosePopup"
    ></equipments-component>
    <description-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      :visible="router.current.name == 'description'"
      :active="router.current.name == 'description'"
      :subsection="subsection"
      :section="section">
    </description-component>
    <end-component
      :offsetH="offsetHeight"
      :offsetW="offsetWidth"
      v-on:im-ready="onSectionReady"
      :visible="router.current.name == 'end'"
      :active="router.current.name == 'end'"
      v-on:generate-data="onGenerateData( $event )"
    ></end-component>
  </div>
</div>