#work-component.work-component-wrapper
  display: flex
  .content-wrapper
    flex-direction: column
    box-sizing: border-box
    .message-wrapper
      text-align: center
      padding: 0px 10px
      color: #222222
      // font-size: 1.1em
      font-weight: 800
      padding: 0px 10px
      font-size: 0.75em
    .continue-btn-wrapper
      margin: 20px 0px
      .continue-btn
        background: #688298
        margin: 0px 20px
        text-align: center
        color: #fff
        border-radius: 10px
        padding: 5px 10px
        cursor: pointer
        font-size: 0.8em
        // &:hover
        //   background: lighten(#688298, 20)