#description-component.description-component-wrapper.sidebar-scroll-section
  flex-direction: column
  .content-wrapper
    .input-wrapper
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      flex: 1
      font-size: 0.85em
      .input-title
        font-weight: 600
        font-size: 0.9em
        margin: 10px 0px
        max-width: 80%
        text-align: center
      .input-content
        display: flex
        flex-direction: column
        width: 80%
        // padding: 20px
        box-sizing: border-box
        textarea
          height 110px
          resize: none