#paths-component.paths-component-wrapper
  max-width: 200px
  .content-wrapper
    flex-direction: column
    .message-wrapper
      color: #222
      font-size: 1.1em
      font-weight: 800
      display: flex
      justify-content: center
      align-items: center
      box-sizing: border-box
      padding: 20px 10px
      text-align: center
      font-size: 0.75em
    .mode-btn
      height 20px
      border-radius: 10px
      text-align: center
      line-height: 20px
      color: #ffffff
      margin: 5px 0px
      font-size: 0.85em
      padding: 0px 10px
      cursor pointer
      background-color: #555555