#end-component.end-component-wrapper .content-wrapper
  flex-direction column
  .btn-wrapper
    margin: 20px
    padding: 10px 30px
    background: #688298
    border-radius: 15px
    color #ffffff
    cursor: pointer
    &:hover
      background: lighten(#688298, 20)