<div id="equipments-component" :visible="visible" class="equipments-component-wrapper sidebar-scroll-section" v-bind:style="{ maxHeight: offsetH+'px', minHeight: offsetH+'px' }">
  <div class="content-wrapper">
    <div class="message-wrapper">
        Indica fent click sobre el mapa quina dels equipaments públics de l'entorn sols utilitzar.
    </div>
    <div class="reset-btn-wrapper">
      <div class="reset-selection-btn" v-on:click="onResetMapSelection">Esborrar</div>
    </div>
  </div>
</div>