#equipments-component
  max-width: 200px
  .content-wrapper
    flex-direction: column
    .message-wrapper
      text-align: center
      color: #222222
      // font-size: 1.1em
      font-weight: 800
      padding: 0px 10px
    .reset-btn-wrapper
      padding-top: 20px
    .reset-selection-btn
      background: #688298
      padding: 5px 15px
      color: #fff
      border-radius: 10px
      cursor: pointer
      // &:hover
      //   background: lighten(#688298, 20%)